* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.main_content{
    display: flex;
    flex-direction: column;
    top: 100px;
    background-color: bisque;
    border: cadetblue 1px;
}