* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Century Gothic", serif;
    background-color: whitesmoke;
}


.wrapper {
    display: flex;
    flex-direction: column;

}

._top {
    flex-grow: 1;
}

a {
    color: white;
}

a:hover {
    color: lightgoldenrodyellow;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.auth_ {
    margin-top: 50%;
    width: 400px;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px darkgrey solid;
    border-radius: 3px;
    height: 400px;
    width: 400px;
}

.reg_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 250px;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: whitesmoke;

}

.heading {
    color: #3e3e3e;
    font-weight: normal;
}

.cloud_storage_logo {
    color: #3e3e3e;
    font-weight: normal;
    padding-bottom: 25px;
}

.cloud_storage {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.management_buttons {
    display: flex;

}


.file_catalog {
    padding: 0;
    margin: 0;
    height: 100vh;

}

.input_heading {
    color: darkgray;
    font-style: inherit;
    font-weight: normal;
    margin-top: 25px;

}

.input_field {
    width: 250px;
    height: 50px;
    border: 1px solid darkgray;
    background-color: whitesmoke;
    border-radius: 3px;
    font-size: 26px;
    outline: none;
    padding-left: 10px;


}


.logout_button:hover {
    color: #469bef;
}

.nav {

}


.reg_link {
    color: #0077ea;
}

.reg_link:hover {
    color: #003a6e;
}

.button_log {
    margin-top: 25px;
}

.button {
    width: 250px;
    height: 50px;
    background-color: dodgerblue;
    cursor: pointer;
    font-size: 24px;
    font-weight: normal;
    font-optical-sizing: inherit;
    color: whitesmoke;
    outline: none;
    border: none;
    box-shadow: lavender;
    border-radius: 3px;

}

.button:hover {
    background-color: #0077ea;
}

.main_content {
    display: flex;
    background-color: white;
}

.left_content {
    padding: 25px;
    margin: 0;
    flex-grow: 2;
    min-width: 400px;
    background-color: whitesmoke;
    border: 1px solid lightgray;

}

.right_content {
    padding: 25px;
}

.crud {


}

.create_folder {
    padding: 25px;
}

.footer {
    display: flex;
    justify-content: space-around;
    min-height: 200px;
    color: white;
    background-color: #0077ea;
    align-items: center;
}

.copyright {

}

.policy {


}
